# This is a work in progress and may not fully embody the desired style.
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 96
ReflowComments: true

# Optional niceties related to comment handling
#AlignTrailingComments: true
#SpacesBeforeTrailingComments: 1
# If you use markers you don't want touched, list them here (regex):
#CommentPragmas: 'NOLINT.*|IWYU pragma:.*'

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false

# Control spacing behavior
SpaceBeforeParens: ControlStatements
SpacesInParens: Never
PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false
